/*
* 	Amio - Minimal Multipurpose Portfolio Theme
	Version - 1.0
* 	Author: webredox
* 	Copyright (C) 2016 webRedox
* 	This is a premium product available exclusively here : https://themeforest.net/user/webredox/portfolio
*/
img{max-width:100%;}
.right-margin{margin-right:25px; margin-left:0px!important;}
.full-width{width:100%;}
/******mega menu******/
#amio-mega .wr-megamenu-container .current_page_item > a, #amio-mega .wr-megamenu-container .current_page_ancestor > a, #amio-mega .wr-megamenu-container .current-menu-item > a, #amio-mega .wr-megamenu-container .current-menu-ancestor > a {
    color: #777777;
    font-weight: 400;
}
.wr-megamenu-container ul.wr-mega-menu li.wr-megamenu-item:hover > a.menu-item-link{background-color:transparent!important;}
#amio-mega .wr-megamenu-container ul.wr-mega-menu li.wr-megamenu-item:hover > a.menu-item-link{color: #777777;}

.wr-megamenu-container ul.wr-mega-menu ul.sub-menu, .wr-megamenu-inner{background-color: #191919!important;}

.amio-navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	outline:none;
}

.amio-navbar-toggle {
    border-radius: 0px;
    border: 2px solid #777777;
	z-index: 9999;
}

.amio-navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.amio-navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}
@media (min-width: 768px) {
.amio-navbar-toggle {
    display: none;
}
}

@media (max-width: 768px) {
.amio-navbar-collapse {
    position: absolute;
    left: 0px;
	display:none;
	overflow-y:scroll;
	max-height: 340px;
    background: #191919;
    text-align: left;
    width: 100%;
    z-index: 99999999;
}

.sub-menu{z-index:1!important; opacity:1!important; width:100%!important; position:relative!important; left:0px!important;}
.woo-nab-ico{float:right!important;}
}
.navigation{min-height:70px;}
.amio-navbar-collapse{
padding-right: 15px;
    padding-left: 15px;
	}
.wr-megamenu-container{width:auto!important; float:right;}
.wr-element-submenu a.caption span span, #amio-mega .wr-element-submenu .submenu-items a, #amio-mega .wr-megamenu-container ul.wr-mega-menu ul.sub-menu a{color: #e5e5e5; font-weight:400;     font-family: 'Lato', sans-serif; }
#amio-mega .wr-element-submenu .submenu-items a:hover, #amio-mega .wr-megamenu-container ul.wr-mega-menu ul.sub-menu a:hover{color:#fff!important;}
#amio-mega .wr-element-submenu .submenu-items{padding:0px;}
#amio-mega .image_caption{color: #e5e5e5; padding:5px 0px;}
#amio-mega .wr-megamenu-inner{z-index:0; display:none;}
#amio-mega .wr-megamenu-container ul.wr-mega-menu li:hover > .wr-megamenu-inner{z-index:9999; display:block;}

/**********woocommerce*********/
.amio-shop-item{margin-bottom:20px; overflow:hidden;}
.amio-shop-item img{width:100%!important;}
.shop-item{position:relative; overflow:hidden;}
.button-woo-wrap {
    position: absolute;
    top: 20%;
    width: 100%;
    z-index: 20;
    left: 0;
    opacity: 0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    text-align: center;
}

li.amio-shop-item:hover .button-woo-wrap {
    top: 70%;
    opacity: 1;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, #buddypress .standard-form div.submit input, #buddypress div.activity-comments form input, #buddypress input[type=submit], #subscription-toggle a, #bbpress-forums div.bbp-reply-content a
{
    z-index: 0;
    background: #191919;
    cursor: pointer;
    color: #fff;
    display: block;
    height: 50px;
	padding:0px;
	min-width:150px;
    line-height: 50px;
    margin-top: 30px;
    margin: auto;
    font-weight: 900;
	border-radius:0px;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    word-spacing: 1px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, #buddypress .standard-form div.submit input:hover, #buddypress div.activity-comments form input:hover, #buddypress input[type=submit]:hover, #subscription-toggle a:hover, #bbpress-forums div.bbp-reply-content a:hover{
    text-decoration: none;
    outline: none;
    color: #505050;
	background: #191919;
}
.woocommerce a.added_to_cart{display:none;}
.amio-shop-item .price {width:100%; text-align:center;}
.amio-shop-item .star-rating{float:none; margin:0 auto; margin-bottom: 10px; }
.amio-shop-item  .hover h3{font-weight:400;}
ins{background:transparent;}
.woocommerce span.onsale{    background-color: #000;
    border-radius: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    font-weight: 400;}
select {height:45px; outline:none;}
.woocommerce-products-per-page{float:left;}
.woocommerce-result-count{display:none;}
.woocommerce-ordering, .woocommerce-products-per-page{margin-bottom:50px;}
.pagination-blog {
	margin-top:20px;
	text-align:center;
	float:left;
	width:100%;
	margin:15px 0;
	padding:0px 0px;
}
.pagination-blog-inner   {
	float:left;
	margin:20px 0 30px;
	border:1px solid rgba(0,0,0,.07);
	background:#fff;
}
.pagination-blog a {
	float:left;
	padding: 12px 18px;
	position:relative;
	font-size:13px;
	color:#666;
	letter-spacing:1px;
	border-right:1px solid rgba(0,0,0,.07);
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.pagination-blog a.current-page, .pagination-blog a:hover {
    color:#fff;
	background:#000;
}

.woocommerce .products .star-rating{margin: 0 auto;}
.woocommerce div.product div.summary{text-align:left;}
.woocommerce .quantity .qty{height:50px;}
.woocommerce div.product p.price{margin-bottom:30px;}
.woocommerce div.product form.cart{margin-top:30px;}
.woocommerce div.product .product_title, .woocommerce-Tabs-panel h2, .related.products h2, .comment-reply-title, .cart_totals  h2, .woocommerce-billing-fields h3, .woocommerce-shipping-fields h3, #order_review_heading, #bbpress-forums h3{font-weight:700; margin-bottom: 20px;}
.cart_totals  h2{text-align:left;}
.woocommerce div.product .woocommerce-tabs ul.tabs li{float:left; display:block; border:none; border-radius:0px;
cursor: pointer;
    color: #fff;
    display: block;
    padding: 0px 20px;
    line-height: 50px;
    margin-top: 30px;
    margin: auto;
    font-weight: 900;
    border-radius: 0px;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    word-spacing: 1px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;}
.woocommerce div.product .woocommerce-tabs ul.tabs{padding:0px;}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active{background-color:#191919; border-radius:0px; border:none;}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:after{display:none;}
.woocommerce div.product .woocommerce-tabs .panel{text-align:left; padding-bottom:30px;}
/********feedback********/
#reviews .comment_container{    
	background: #f4f4f4;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 20px;}
.woocommerce #reviews #comments ol.commentlist li img.avatar{
	position:relative;
	float: left;
    top: 0;
    left: 0;
    padding: 0px;
    width: 50px;
    height: auto;
    background: #ebe9eb;
    border: none;
    margin: 0;
    box-shadow: none;
    border-radius: 100%;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0px;
    border: none;
    border-radius: 4px;
    padding: 0px;
    width: 100%;
    clear: both;
}
#reviews p.meta strong{letter-spacing: 1px;
    word-spacing: 2px;
	font-size: 18px;
	font-weight:900;
	
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	color:#444;}
#reviews p.meta{
margin-top: 20px!important;
margin-bottom: 10px!important;}
.woocommerce #reviews #comments ol.commentlist li .comment-text .description{margin-top: 30px;
    margin-bottom: 30px;
    line-height: 32px;}
#reviews #comments{padding-bottom:30px;}
.comment-reply-title, .comment-form-rating, .comment-notes{padding-left:15px;}
.amio-input input{
-moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 10px;
    margin-bottom: 60px;
    transition: none;
    background: transparent;
    width: 100%;
    border: none;
    color: #191919;
    float: left;
    border-bottom: 2px solid #191919;
    font-size: 16px;
    font-weight: 500;
    word-spacing: 2.5px;
    text-align: left;
	outline:none;}
#reviews textarea{outline:none; margin-top: 50px;}
.comment-form-rating{margin-top:20px!important;}
.woocommerce #review_form #respond .form-submit input[type=submit]{
    float: left;
    margin-left: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.related.products .hover{padding-top:30px;}
.woocommerce div.product p.price, .woocommerce div.product span.price{color:rgb(34, 34, 34); font-weight:400;}

#shop-details{padding-bottom:200px;}
.button{min-width:150px; width:auto; max-width:180px;}

/**********cart***********/
.woocommerce table.shop_table{    margin-bottom: 10px;
    border-collapse: collapse;
    border-width: 0;
    width: 100%;}
.shop_table thead {
    background: transparent;
    border-bottom: 1px solid #e8e8e8;
}

.woocommerce table.shop_table th {
    font-weight: 700;
    color: #666;
}
.woocommerce table.shop_table th, .woocommerce .shop_table thead th.box-name {
    font-size: 12px;
    text-transform: uppercase;
    color: #292929;
    
}
table th, table td {
    padding: 5px;
}
.shop_table tbody tr.order_item, .shop_table tbody tr.cart_item {
    background: transparent;
    border-bottom: 1px dashed #e8e8e8;
}
.woocommerce table.shop_table td

.shop_table tbody tr .product-name {
    padding-top: 25px;
    padding-left: 2px;
}
.shop_table tbody tr td {
    padding: 15px 10px;
    vertical-align: top;
	border:none!important;
}
.shop_table tbody tr .product-thumbnail img {
    width: 80px;
    height: 80px;
}

.shop_table tbody tr .product-name a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0;
    line-height: 36px;
    margin-bottom: 5px;
    color: #28262b;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    transition: color .3s ease;
}

.shop_table tbody tr .product-quantity .quantity input {
    position: relative;
    float: left;
    height: 50px;
    text-align: center;
    margin-right: 15px;
    border: 2px solid #1B1B1B;
}
.shop_table tbody tr .product-quantity .quantity input.qty {
    margin-right: 0;
	top:0px;
}
.shop_table tbody tr .product-remove a {
    position: relative;
    font-size: 18px;
    line-height: 23px;
    padding: 0px 7px 0px 6px;
    width: 21px;
    height: 21px;
	line-height: 18px;
    border-radius: 100%;
    background-color: #000;
    color: #fff!important;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.shop_table tbody tr .product-remove a:hover{background:#000;}
.woocommerce-page table.cart td.actions {
    padding: 30px 25px;
    border: 1px solid #e8e8e8!important;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{    
height: 50px;
width: 300px;
margin-right:20px;
}
.coupon input[type=submit]{margin-right:20px!important; outline:none;}
.wc-proceed-to-checkout .checkout-button{width:auto!important; max-width:300px!important; float:left; padding: 0px 20px!important;}

.woocommerce-error, .woocommerce-info, .woocommerce-message{text-align:left;}
.woocommerce form.login input[type=text], .woocommerce form.register input[type=text], .woocommerce form.login input[type=password], .woocommerce form.register input[type=password], .checkout_coupon input[type=text]{
height:50px;
padding:10px;
}
.woocommerce form.login input[type=submit], .checkout_coupon input[type=submit]{float:left; margin-right: 10px;}
#customer_details{text-align:left;}
#customer_details  input[type=text], #customer_details  input[type=email], #customer_details  input[type=tel]{height:50px; padding:10px;}

/**********buddypress***********/
#buddypress div.item-list-tabs ul li a, #buddypress div.item-list-tabs ul li span{
    display: block;
    border: none;
    border-radius: 0px;
	background-color:#eee;
    cursor: pointer;
    color: #000;
    display: block;
    padding: 0px 20px;
    line-height: 50px;
    margin-top: 30px;
    margin: auto;
    font-weight: 900;
    border-radius: 0px;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    word-spacing: 1px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;}
#buddypress div.item-list-tabs ul li.current a, #buddypress div.item-list-tabs ul li.selected a{ background-color: #191919; color:#fff;}

#buddypress div.item-list-tabs ul li{margin-right:10px;}
#group-create-body{margin:50px 0px!important;}
#buddypress .standard-form input[type=text], #buddypress .standard-form textarea{width:100%!important; min-height:50px; outline:none;}
#buddypress .standard-form label, #buddypress .standard-form legend, #buddypress .standard-form span.label{text-transform:uppercase; margin:50px 0px;}

#buddypress .standard-form div.submit input{max-width:300px!important; padding: 0px 20px;}
.group-create-privacy, .group-create-invitations{text-align:left; margin-bottom:50px;}
div.bp-avatar-nav{margin-top:120px;}
#bp-browse-button{    
max-width: 300px;
line-height: 0px;}
#buddypress form.standard-form .main-column {
    text-align: left;
    line-height: 30px;
}
#bp-delete-cover-image{line-height: 39px;
 max-width: 360px;}
 
#buddypress div#item-header div#item-meta {
    color: #767676;
    overflow: hidden;
    margin: 15px 0 5px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 13px;
    line-height: 25px;
}
#buddypress div#item-header div#item-meta span{font-weight:700;}
#item-nav {margin:50px 0px;}
#buddypress div.item-list-tabs#subnav{margin-bottom:50px;}
#buddypress div#item-header img.avatar, #whats-new-avatar a img, #buddypress ul.item-list li img.avatar{border-radius:100%;}
.activity-inner {text-align:left;}
.activity-meta a {float:left;}
#buddypress div#item-header h2{font-weight:700; font-size:14px;}
#buddypress ul.item-list li{padding:45px 0px;}
#buddypress div.activity-meta a{padding:0px 8px;}
#buddypress div.activity-comments form .ac-textarea{height:145px;}
#buddypress div.activity-comments form input{float:left;}
#buddypress div.activity-comments form div.ac-reply-content a {
    text-decoration: none;
    margin: 13px 11px;
	float:left;
}
#buddypress #activity-stream p{text-align:left;}
#whats-new-options{margin-bottom:50px;}
#members_search_submit{float:left;}
#buddypress div.dir-search input[type=text], #buddypress li.groups-members-search input[type=text] {
    font-size: 90%;
    padding: 0px 10px;
    float: left;
    height: 50px;
	width:300px;
	border: 1px solid #191919;
    outline:none;
}
#buddypress #admins-list li, #buddypress #members-list li, #buddypress #mods-list li{text-align:left;}
#buddypress ul.item-list li{text-align:left;}
.item-title a{font-weight:700;}
#groups-dir-search{margin-bottom:50px;}

#buddypress ul.item-list li:nth-of-type(odd) {
    background-color: #f9f9f9;
	
}

#buddypress ul.item-list li{padding-left:10px; padding-right:10px; border:none;}
#message {margin-top:60px!important;}
#buddypress ul.item-list li div.action{right:10px;}
.item-desc{font-size:13px;}
#subscription-toggle a{max-width:150px;}
div.bbp-template-notice.info{margin:50px 0px;}
#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content{border: 2px solid #000;}
#bbpress-forums li.bbp-header {
    background: #000;
    border-top: 1px solid #000;
	color:#fff;
}
.bbp-header a {background:transparent!important; width:auto!important;}
.bbp-header #subscription-toggle{    height: 20px;
    line-height: 0px; color:transparent;}
.bbp-header .bbp-reply-author, .bbp-header .bbp-reply-content{    font-weight: 900;
    border-radius: 0px;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    word-spacing: 1px;
	line-height: 47px;}
#bbpress-forums div.bbp-forum-author img.avatar, #bbpress-forums div.bbp-topic-author img.avatar, #bbpress-forums div.bbp-reply-author img.avatar{border-radius:100%;}
#bbpress-forums div.bbp-forum-content, #bbpress-forums div.bbp-topic-content, #bbpress-forums div.bbp-reply-content{font-size:13px; line-height: 25px;}


/******sidebar*******/
.pull-left .sidebar{margin-left:0px;}
.blog-post .rslides li{margin:0px!important; padding:0px!important; border:none!important;}
/********comments*******/
#comments {
padding-bottom: 200px;
float:left;
width:100%;
}
li.comment{clear:both;}
li.comment ul.children{padding-left:30px;}
.comment-form{
		margin-top: 100px;
		margin-bottom: 100px;
		width:100%;
	}
.comment-form form{width:100%;}
.blog-post{float:left;}
#blog{float:left; width:100%;}
.service{float:left;}
/******sub menu*******/

/*----- Top Level -----*/
.navbar-main-menu > ul > li {
    
    position:relative;
  
}

 
/*----- Bottom Level -----*/
.navbar-main-menu li:hover > .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    min-width:200px;;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    background:#191919;
}
.sub-menu .sub-menu{top:0px; left:100%;}
 
.sub-menu li {
    display:block;
    font-size:16px;
	position:relative;
}
.sub-menu li a{color:#e5e5e5; font-size:13px;}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    
}
.text-logo-wr{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
	padding-left: 0px;}
.footer-social li:nth-child(1){margin:0px;}
.wr-full-post{margin-bottom:0px;}
.widget .tagcloud{margin-top:25px;}
.widget .tagcloud a{
display: inline-block;
font-size:13px!important;
    padding: 8px;
    margin: 3px 6px 3px 0px;
    border: 1px solid #777777;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;}
.widget .tagcloud a:hover {
    background: #191919;
    border: 1px solid #191919;
	color:#fff;
}
.widget_search form, .widget_product_search form, .post-password-form {position:relative;}
.widget_search label, .widget_product_search label{display:none;}
.widget_search input[type="text"], .widget_product_search input[type="search"], .post-password-form input[type="password"]{height:40px; width:100%; border: 1px solid #000;
    padding: 0px 8px;}
.widget_search input[type="submit"], .widget_product_search input[type="submit"]{
font-weight: 900;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    word-spacing: 1px;
    background: #000;
    color: #fff;
    border: none;
    padding: 12px 10px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.post-password-form input[type="submit"] {
font-weight: 900;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    word-spacing: 1px;
    background: #000;
    color: #fff;
    border: none;
    padding: 0px 10px;
    position: relative;
    top: -2px;
    right: 0px;
}
.woocommerce ul.product_list_widget{margin-top:25px;}
.woocommerce ul.product_list_widget li{margin-bottom:20px;}
.woocommerce ul.product_list_widget li img{width:55px;}
.widget .buttons, .woocommerce.widget_shopping_cart .total{margin-top:25px;}
.widget .buttons a{
	float: left;
    text-align: center;
    margin-right: 10px;
    min-width: 130px;
}

.widget_price_filter form{margin-top:25px;}
.woocommerce .widget_price_filter .price_slider_amount .button{font-size:11px;}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{background-color:#000;}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range{background-color: #ebe9eb;}
.woocommerce div.product form.cart .variations td.label{display:none;}

.woocommerce div.product .woocommerce-tabs{margin-top:100px; clear:both;float: left; width: 100%;}
.related.products{margin-top:100px; margin-bottom:200px; clear:both;float: left; width: 100%;}
.related.products h2{text-align:left;}
/***********theme check**********/

.wr-unit-test  ul, li.comment div ul{
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}

.wr-unit-test  ol, li.comment div ol{display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;}
.wr-unit-test div , .wr-unit-test img{max-width:100%;}
.sidebar ul{margin-top:0px;}
.sidebar .separator-small{margin-bottom:25px;}
.widget select, .widget table{width:100%; max-width:100%;}
.widget label{display:none;}
ul.media-list{list-style:none!important; padding:0px!important;}
.page-links > span, .page-links   a span{display: block;
    color: #000;
    border: solid 1px rgba(0, 0, 0, 0.15);
    padding: 12px 26px 13px;
    margin: 15px 0;
    font-size: 11px;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 30px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
	margin-right:7px;}
.page-links > span, .page-links   a span:hover{border: 1px solid #2b2b2b;}
iframe{max-width:100%;}
.cart-empty, .return-to-shop{text-align:center;}

.blog-post ul.t-left.lato li {
    display: inline-block;
    padding-left: 15px;
    border-left: 1px solid #b2b2b2;
    margin: 0px 0px 20px 15px;
}

.wpcf7 input[type="text"], input[type="email"]{
-moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 10px;
    margin-bottom: 60px;
    transition: none;
    background: transparent;
    width: 100%;
    border: none;
    color: #191919;
    float: left;
    border-bottom: 2px solid #191919;
    font-size: 16px;
    font-weight: 500;
    word-spacing: 2.5px;
    text-align: left;
}

.wpcf7 textarea{height:100px;}
.wpcf7 p, .wpcf7 label{width:100%;}

.wpcf7 input[type="submit"]{    z-index: 0;
    background: #191919;
    cursor: pointer;
    color: #fff;
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    margin: auto;
    font-weight: 900;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    word-spacing: 1px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
	float: left;
    border: none;}
    
.it-responsive-mega{display:none!important;}
.wr-menu-down{display:none!important;}
.sidebar.widget{float:left; width:100%}
.single-post .post-info{padding-top:20px;}
.wrnavigation{padding:25px 0px 10px 0px}
.single-post .blog-post{margin-bottom:80px!important;}
.wr-hidden{display:none;}
.admin-bar .uk-sticky-placeholder .uk-active{top:32px!important;}
@media all and (max-width: 600px) {
.admin-bar .uk-sticky-placeholder .uk-active{top:0px!important;}
}
@media all and (max-width: 763px) {
.nav li a{color:#e5e5e5;}
}