.navbar-brand {
	position:relative;
	bottom:12px;
}

.uk-active {
	border-bottom:1px solid #d3d3d3;
}

.menu-item:hover a {
	color:#000!important;
}

.current_page_item a {
	font-weight:bold!important;
	color:#000!important;
}